.bn-attribution {
  margin-top:0.5em;
}
.bn-citation {
  text-indent: -2em;
  padding-left: 2em;
  text-align:left;
}
.bn-badge {
  margin-top:0.5em;
}
.bn-badge a, .bn-badge a:hover, .bn-badge a:active {
  text-decoration:none;
}
.bn-logo {
  margin-left:0.5em;
  margin-right:0.5em;
}